<app-nav-bar></app-nav-bar><br>
<!--Table-->
<table class="table table-responsive  text-center">

    <!--Table head-->
    <thead class="thead-light">
        <tr>
           
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
           
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor="let product of products">
         
            <td>{{product.name}}</td>
            <td>{{product.price}} $</td>
            <td><img src={{product.img}}></td>          
           
            <td><button type="button" mdbBtn color="danger" mdbWavesEffect>Delete</button></td>
        </tr>

        <tr>
            <th>Total</th>
            <td colspan="4">400 $</td>
        </tr>
        
    </tbody>
    <!--Table body-->


</table><br>
<!--Table-->
<app-footer></app-footer>