
<!-- <app-nav-bar></app-nav-bar> -->

  <div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      <form (submit)="register($event)" method="POST">
      <input type="text" name="username" id="username" #username placeholder="Username" />
      <input type="text" name="email" id="email" #email placeholder="E-mail" />
      <input type="password" name="password" id="password" #password placeholder="Password" />
      <input type="number" name="age" id="age" #age placeholder="Age" />
      <input type="text" name="gender" id="gender" #gender placeholder="Gender" />
      
        <button role="button" >Sign me up</button>
      <!-- <input type="button" name="signup_submit" value="Sign me up" /> -->
    </form>
    </div>
    
    <div class="right">
     
    </div>

  </div>
  <app-footer></app-footer>